<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.tornado.datav.mapper.DatavTemplateComponentStyleMapper">
    
    <resultMap id="DatavTemplateComponentStyleMap" type="pers.tornado.datav.entity.DatavTemplateComponentStyle">
        <id column="templateID" property="templateID" />
        <id column="component_index" property="index"/>
        <result column="component_opacity" property="opacity"/>
        <result column="component_legendvis" property="legendvis"/>
        <result column="component_titlevis" property="titlevis"/>
        <result column="component_titlepos" property="titlepos"/>
        <result column="component_fontColor" property="fontColor"/>

    </resultMap>

    <resultMap id="DatavTemplateComponentStyleWithoutIDMap" type="pers.tornado.datav.entity.DatavTemplateComponentStyle">
        <result column="component_opacity" property="opacity"/>
        <result column="component_legendvis" property="legendvis"/>
        <result column="component_titlevis" property="titlevis"/>
        <result column="component_titlepos" property="titlepos"/>
        <result column="component_fontColor" property="fontColor"/>
    </resultMap>

    <select id="selectStyleByIndex" resultMap="DatavTemplateComponentStyleWithoutIDMap">
        select * from datav_template_component_style
        where templateID =#{templateID} and component_index =#{component_index}
    </select>


    <insert id="insertOneStyle" parameterType="pers.tornado.datav.entity.DatavTemplateComponentStyleVo">
        insert into datav_template_component_style
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateID != null">
                templateID,
            </if>
            <if test="index != null">
                component_index,
            </if>
            <if test="opacity != null">
                component_opacity,
            </if>
            <if test="legendvis != null">
                component_legendvis,
            </if>
            <if test="titlevis != null">
                component_titlevis,
            </if>
            <if test="titlepos != null">
                component_titlepos,
            </if>
            <if test="fontColor != null">
                component_fontColor,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateID != null">
                #{templateID},
            </if>
            <if test="index != null">
                #{index},
            </if>
            <if test="opacity != null">
                #{opacity},
            </if>
            <if test="legendvis != null and legendvis != false">
                #{legendvis},
            </if>
            <if test="titlevis != null and titlevis != false">
                #{titlevis},
            </if>
            <if test="legendvis != null and legendvis == false">
                null,
            </if>
            <if test="titlevis != null and titlevis == false">
                null,
            </if>
            <if test="titlepos != null">
                #{titlepos},
            </if>
            <if test="fontColor != null">
                #{fontColor},
            </if>
        </trim>
    </insert>
    
    <update id="updateOneStyle" parameterType="pers.tornado.datav.entity.DatavTemplateComponentStyleVo">
        update datav_template_component_style
        <set>
            <if test="opacity != null">
                component_opacity =#{opacity},
            </if>
            <if test="legendvis != null">
                component_legendvis =#{legendvis},
            </if>
            <if test="titlevis != null">
                component_titlevis =#{titlevis},
            </if>
            <if test="titlepos != null">
                component_titlepos =#{titlepos},
            </if>
            <if test="fontColor != null">
                component_fontColor =#{fontColor},
            </if>
        </set>
        where templateID =#{templateID} and component_index =#{index}
    </update>
    
</mapper>