<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.tornado.datav.mapper.DatavTemplateComponentDatasourceMapper">
    
    <resultMap id="DatavTemplateComponentDatasourceMap" type="pers.tornado.datav.entity.DatavTemplateComponentDatasource">
        <id column="templateID" property="templateID" />
        <result column="component_data" property="data"></result>
        <result column="component_dataSourceType" property="dataSourceType"></result>
        <result column="component_APISwitch" property="APISwitch"></result>
        <result column="component_APIURL" property="APIURL"></result>
        <result column="component_APIMethod" property="APIMethod"></result>
        <result column="component_APIInterval" property="APIInterval"></result>
        <result column="component_IntervalID" property="IntervalID"></result>
    </resultMap>

    <resultMap id="DatavTemplateComponentDatasourceWithoutIDMap" type="pers.tornado.datav.entity.DatavTemplateComponentDatasource">
        <result column="component_data" property="data"></result>
        <result column="component_dataSourceType" property="dataSourceType"></result>
        <result column="component_APISwitch" property="APISwitch"></result>
        <result column="component_APIURL" property="APIURL"></result>
        <result column="component_APIMethod" property="APIMethod"></result>
        <result column="component_APIInterval" property="APIInterval"></result>
        <result column="component_IntervalID" property="IntervalID"></result>
    </resultMap>



</mapper>