<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.tornado.datav.mapper.DatavTemplateMapper">

    <resultMap id="DatavTemplateMapperMap" type="pers.tornado.datav.entity.DatavTemplate">
        <id column="templateID" property="templateID" />
        <result column="userID" property="userID" />
        <result column="templatePicUrl" property="templatePicUrl"/>
        <result column="screenStretch" property="screenStretch"/>
        <result column="backgroundColor" property="backgroundColor"/>
        <result column="backgroundImage" property="backgroundImage"/>
        <result column="disabled" property="disabled"/>
        <collection column="templateID" property="screendef" select="pers.tornado.datav.mapper.DatavTemplateScreenMapper.getTemplateScreendefWithID"/>
    </resultMap>

    <select id="getAllDatavTemplate" resultMap="DatavTemplateMapperMap">
        select * from datav_template
        where disabled = 0
    </select>

    <select id="getDatavUserTemplate" resultMap="DatavTemplateMapperMap">
        select * from datav_template
        where userID =#{userID} and disabled = 0
    </select>

    <select id="getRef" resultType="pers.tornado.datav.entity.DatavTemplateScreenStretchRef">
        select * from datav_template_screen_stretch_ref
    </select>

    <insert id="insertUserTemplate" parameterType="pers.tornado.datav.entity.DatavTemplate">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="templateID">
            select last_insert_id()
        </selectKey>
        insert into datav_template (userID) values (#{userID})
    </insert>

    <insert id="insertUserTemplateScreenDef" parameterType="Integer">
        insert into datav_template_screendef (templateID, screenIndex, screenTitle, screenType, screenValue) VALUES
        (#{templateID}, 0, "页面宽度：", "inputNumber", 1920),
        (#{templateID}, 1, "页面高度：", "inputNumber", 1080);
    </insert>

    <update id="spliceTemplate" parameterType="pers.tornado.datav.entity.DatavTemplate">
        update datav_template set disabled = 1
        where userID =#{userID} and templateID =#{templateID}
    </update>

    <select id="getOneTemplate" resultMap="DatavTemplateMapperMap">
        select * from datav_template
        where templateID =#{templateID}
    </select>
</mapper>