<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.tornado.datav.mapper.DatavTemplateMapper">

    <resultMap id="DatavTemplateMapperMap" type="pers.tornado.datav.entity.DatavTemplate">
        <id column="templateID" property="templateID" />
        <result column="userID" property="userID" />
        <result column="templatePicUrl" property="templatePicUrl"/>
        <result column="screenStretch" property="screenStretch"/>
        <result column="backgroundColor" property="backgroundColor"/>
        <result column="backgroundImage" property="backgroundImage"/>
        <result column="disabled" property="disabled"/>
        <collection column="templateID" property="screendef" select="pers.tornado.datav.mapper.DatavTemplateScreendefMapper.getTemplateScreendefWithID"/>
    </resultMap>

    <select id="getAllDatavTemplate" resultMap="DatavTemplateMapperMap">
        select * from datav_template
        where disabled = 0
    </select>

    <select id="getDatavUserTemplate" resultMap="DatavTemplateMapperMap">
        select * from datav_template
        where userID =#{userID}
    </select>
</mapper>